<h2>Template-Driven Sign-up Form with built-in & custom validators</h2>
<form #tdSignupForm="ngForm" (ngSubmit)="tdSignupFormSubmit()" novalidate>
    <div class="signup-form">
    <div class="signup-form-controls">
        <label>First Name</label>
        <input type="text" [(ngModel)]="user.firstName" name="firstName"  #firstName="ngModel" minlength="4" required>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
            <div *ngIf="firstName.errors?.required">
                First Name is required.
            </div>   
            <div *ngIf="firstName.errors?.minlength">
                First Name should be atleast 4 characters
            </div>   
        </div>        
    </div>
   
    <div class="signup-form-controls">
        <label>Last Name</label>
        <input type="text" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" maxlength="4" required>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
            <div *ngIf="lastName.errors?.required">
                Last Name is required.
            </div> 
            <div *ngIf="lastName.errors?.maxlength">
                Last Name should be maximum 4 characters
            </div>      
        </div>  
    </div>
    
    <div class="signup-form-controls">   
        <label>Email</label>
        <input type="text" [(ngModel)]="user.email" name="email" #email="ngModel" required email>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
            <div *ngIf="email.errors?.required">
                Email is required.
            </div>
            <div *ngIf="email.errors?.email">
                Invalid Email Id
            </div>       
        </div> 
    </div>   
    <div class="signup-form-controls">
      <label>Password</label>
      <input type="password" [(ngModel)]="user.password" name="password"  #password="ngModel" minlength="6" required appPasswordStrengthDirective>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors?.required">
              Password is required.
          </div>   
          <div *ngIf="(password.errors?.passwordStrength || password.errors?.minlength)">
              Your password must have atleaset one lower case, one upper case and one numeric character. Password should be minimum of 6 characters.
          </div>
      </div>        
  </div>
    <div class="signup-form-controls">   
        <label>Terms and Conditions</label>
        <input type="checkbox" [(ngModel)]="user.tc" name="tc" #tc="ngModel"  required>
        <div *ngIf="tc.invalid && (tc.dirty || tc.touched)" class="alert">
            <div *ngIf="tc.errors?.required">
                Tick this box
            </div>                   
        </div> 
    </div>
    <div class="signup-form-controls">
        <button type="submit" [disabled]="!tdSignupForm.valid">Submit</button>
    </div>
    </div>
</form>



<h2>Reactice Sign-up Form with built-in & custom validators </h2> 
<form [formGroup]="signupForm" (ngSubmit)="ReSignupFormSubmit()" novalidate>
    <div class="signup-form">
        <div class="signup-form-controls">
            <label>First Name</label>
            <input type="text" formControlName="firstName" name="firstname">
            <div *ngIf="signupForm.controls.firstName.invalid && 
                (signupForm.controls.firstName.dirty || signupForm.controls.firstName.touched)" class="alert">
                <div *ngIf="signupForm.controls.firstName.errors?.required">
                    First Name is required.
                </div>   
                <div *ngIf="signupForm.controls.firstName.errors?.minlength">
                    First Name should be atleast 4 characters
                </div>   
            </div> 
        </div>
        <div class="signup-form-controls">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" name="lastname" >
            <div *ngIf="signupForm.controls.lastName.invalid && 
                (signupForm.controls.lastName.dirty || signupForm.controls.lastName.touched)" class="alert">
                <div *ngIf="signupForm.controls.lastName.errors?.required">
                    Last Name is required.
                </div>   
                <div *ngIf="signupForm.controls.lastName.errors?.maxlength">
                    Last Name should be maximum of 4 characters
                </div>   
            </div> 
        </div>
        
        <div class="signup-form-controls">   
            <label>Email</label>
                <input type="text" formControlName="email" name="email" >
                <div *ngIf="signupForm.controls.email.invalid && 
                    (signupForm.controls.email.dirty || signupForm.controls.email.touched)" class="alert">
                    <div *ngIf="signupForm.controls.email.errors?.required">
                        Email is required.
                    </div>
                    <div *ngIf="signupForm.controls.email.errors?.email">
                        Invalid Email Id
                    </div>       
                </div> 
        </div>
         
          <div class="signup-form-controls">
              <label>Enter your password</label>
              <input type="password" formControlName="password" name="password" >
              <div *ngIf="signupForm.controls.password.invalid && 
                  (signupForm.controls.password.dirty || signupForm.controls.password.touched)" class="alert">
                  <div *ngIf="signupForm.controls.password.errors?.required">
                      Password is required.
                  </div> 
                  <div *ngIf="(signupForm.controls.password.errors?.passwordStrength || 
                  signupForm.controls.password.errors?.minlength)">
                  Your password must have atleaset one lower case, one upper case and one numeric character. Password should be minimum of 6 characters.
                  </div>  
                    
              </div> 
          </div>
          <div class="signup-form-controls">   
            <label>Terms and Conditions</label> 
            <input type="checkbox" formControlName="tc" name="tc">
            <div *ngIf="signupForm.controls.tc.invalid && 
                (signupForm.controls.tc.dirty || signupForm.controls.tc.touched)" class="alert">
                <div *ngIf="signupForm.controls.tc.errors?.required">
                    Tick this box
                </div>                   
            </div> 
          </div>
        <div class="signup-form-controls">
            <button type="submit" [disabled]="!signupForm.valid">Submit</button>
        </div>
    </div>
  </form>